@model Capstone.Data.Models.Employer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="well">
                <h2>Welcome @model. ! </h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">


            </div>
        </div>
    </div>
  

</div>



