@model Capstone.Data.Models.Employer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="well">
                <h2>Welcome @Model.CompanyName ! </h2>
                <ul id="employerSkills">
                    @*for now assume there is only one interest*@
                    @*@foreach(var item in Model.Programming_language)
                    {
                        <li>@item</li>
                    }*@

                    <li>@Model.Programming_language</li>
                </ul>
                <br/>
                <button id="editInterests">Edit</button>
                
                <div id="editDiv">
                    <ul>
                        @*@foreach (var item in Model.Programming_language)
                        {
                            <li>@item &nbsp;&nbsp;&nbsp;&nbsp; <a href='@Url.Action("DeleteSkillInterested", "Employer",new { skill = item})'>delete</a></li>
                        }*@
                    </ul>
                    <button id="addskill">Add</button>
                    <button id="deleteSkill">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h2>List of students:</h2>
               
                @*@Html.Action("NewsFeedByLanguage", "Student")*@

            </div>
        </div>
    </div>
  

</div>



