body {
    /*background-color: #bcb9b9;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    /*background-image: url('images/backgroundImage.jpg');*/
    /*background-image: url('images/blueBackground.jpg');*/
    /*background-image: url('images/blue1.jpg');*/
    /*background-image: url('images/blue2.jpg');*/
    /*background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#8DC63F, #00AEEF);/* Standard syntax */
    background-image: url("images/te-background.png");
    background-attachment: fixed;
}

.student{
    text-align:center;
}

.fontBold {
    font-weight: bold;
}

button {
    background-color: #82bb82;
    border-radius: 10px;
    border: 1px solid #82bb82;
    box-shadow: 5px 5px 5px #8d5252;
}

/*---------------------     Log In    -----------------------*/
.loginDiv {
    padding: 20px 50px 20px 5px;
    margin: 50px;
}

/*#main-content{
    margin-top:70px
}*/

.loginDiv form {
    padding-left: 20%;
    }

#forgotPassword {
    white-space: nowrap;
    text-decoration: none;
}

.loginDiv label {
    padding-left: 20px;
}

.loginDiv input {
    margin-left: 20px;
    padding-left: 10px;
    border-radius: 40px;
    border: 1px solid #f5dddd;
}

.loginDiv a {
    padding-left: 20px;
}

.loginDiv button {
    margin-left: 20px;
}
/*---------------------    Staff dashboard    -----------------------*/
.creatNewUser li a{
    font-size:1.5em
   
}
.creatNewUser li{
    padding:10px;
}
.creatNewUser {
    padding: 50px;
    border: 2px solid black;
    border-radius: 5px;
    list-style-type: none;
}

/*----------------------   Create a new users forms----------------------*/
.creatNewUserForm {
    padding: 30px;
}

.creatNewUserForm input, .creatNewUserForm label {
        display: block;
    }

.creatNewUserForm input {
        border-radius: 5px;
}

.creatNewUserForm li{
    list-style:none;
    display:inline-block;

}


/*-----------------------  fail and success to update, create and ..   ---------------------*/
.goHome {
    background-color: #c1c1c1;
    border-radius: 10px;
    padding: 3px;
}

.fialImage {
    width: 200px;
}

/*--------------------Home index page -----------------------*/
.studentDisplay {
    text-align:center;
    list-style: none;
    /*border: 1px solid black;*/
    /*border-radius: 20px;*/
    background-color: #ee9898;
    width: 500px;
    display: inline-block;
}



.tile{
    text-shadow:0 0 13px rgba(0,0,0,.3);
    border:1px solid #bfbfbf;
    border-radius:5px;
    box-shadow:2px 4px 0 #a5a5a5,3px 5px 0 #565656,3px 5px 10px rgba(0,0,0,.4);
    background-color:#f2f2f2;
}

.navTile{
    text-shadow:0 0 13px rgba(0,0,0,.3);
    border:1px solid #bfbfbf;
    border-radius:0px 0px 5px 5px;
    box-shadow:2px 4px 0 #a5a5a5,3px 5px 0 #565656,3px 5px 10px rgba(0,0,0,.4);
    background-color:#f2f2f2;
}

.studentDisplay img{
    margin-right:8px;
}
.classTitle {
    padding: 10px;
    border-radius: 30px;
    background-color: #ee9898;
}

.studentDisplay td {
   width:auto;
}

.profileImage {
    box-shadow: 10px 10px 5px #888888;
    width:150px;
   
}

/*.student h3 {
    box-shadow: 5px 5px 5px #888888;
}*/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 10px solid black;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 0 solid black;
  overflow: hidden;
  transition: 200ms ease;
}

.caret.rotate.open {
  transform: rotate(-90deg);
  border-width: 10px 10px 0 10px;
}

.caret2{
    
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 10px solid #3c763d;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 0 solid #3c763d;
  overflow: hidden;
  transition: 200ms ease;
}

.caret2.rotate.open {
  transform: rotate(-90deg);
  border-width: 10px 10px 0 10px;
}

.caret3{
    
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 10px solid #23527c;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 0 solid #23527c;
  overflow: hidden;
  transition: 200ms ease;
}

.caret3.rotate.open {
  transform: rotate(-90deg);
  border-width: 10px 10px 0 10px;
}

.caret4{
    
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 10px solid #8a6d3b;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 0 solid #8a6d3b;
  overflow: hidden;
  transition: 200ms ease;
}

.caret4.rotate.open {
  transform: rotate(-90deg);
  border-width: 10px 10px 0 10px;
}


/*---------- emloyer dashboard--------------*/
.imgNewsfeed {
    width: 100px;
}

td {
    padding: 5px;
}

#newsFeedStudent {
    border: 1px solid black;
    margin: auto;
}

    #newsFeedStudent ul {
        list-style: none;
        background-color: #e6eeeb;
        margin: auto;
        border-radius: 2px;
        padding-top: 3px;
        padding-bottom: 5px;
    }


#editinfo tr td {
    display: block;
    width: 150px;
    height: 45px;
    margin: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.newsfeedInfo li img {
}

.newsfeedInfo {
}

/*------------student search result----------*/


.resultsDiv li {
    list-style: none;
    font-size: 1.4em;
    margin: 20px 5px 20px 5px;
}

#studentProjects td{
    
    border: 2px solid black;
    border: 2px solid blanchedalmond;
}
    
}
/*----------view student profile*/
.titleStudentProfile {
    border: 2px solid black;
    padding: 2px;
}

.panel-group .panel {
}
