body {
    /*background-color: #bcb9b9;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
   
    background-image: url('images/backgroundImage.jpg');
}

.fontBold {
    font-weight: bold;
}

button{
    background-color:#f5dddd;
    border-radius: 10px;
    border:1px solid #f5dddd;
    box-shadow: 5px 5px 5px #8d5252;
}

/*---------------------     Log In    -----------------------*/
.login {
    background-color: #ee9898;
    border-radius: 15px;
   padding: 20px 50px 20px 5px;
}

#forgotPassword {
    white-space: nowrap;
    text-decoration: none;
}

.login input{
    margin-left: 20px;
    padding-left:10px;
    border-radius:40px;
    border: 1px solid #f5dddd;
}

.login button {
     margin-left: 20px;
    
}
/*---------------------    Staff dashboard    -----------------------*/


.creatNewUser {
    padding: 7px;
    border: 2px solid black;
    border-radius: 5px;
    list-style-type: none;
}

/*----------------------   Create a new users forms----------------------*/
.creatNewUserForm {
    padding: 30px;
}

    .creatNewUserForm input, .creatNewUserForm label {
        display: block;
    }

    .creatNewUserForm input {
        border-radius: 12px;
    }


/*-----------------------  fail and success to update, create and ..   ---------------------*/
.goHome {
    background-color: #c1c1c1;
    border-radius: 10px;
    padding: 3px;
}

.fialImage {
    width: 200px;
}

/*--------------------Home index page -----------------------*/
.studentDisplay {
    list-style: none;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ee9898;
    width: 500px;
    padding: 50px;
    display: inline-block;
}

.classTitle{
    padding:10px;
    border-radius: 30px;
    background-color:#ee9898;
}

    .studentDisplay li {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.4em;
        font-weight: bold;
    }

    .profileImage {
    box-shadow: 10px 10px 5px #888888;
   width:25%;
}
/*---------- emloyer dashboard--------------*/
.imgNewsfeed {
    width: 100px;
}

 td{
    padding:5px;


}
#newsFeedStudent {
    border: 1px solid black;
    margin: auto;

}

#newsFeedStudent ul {
        list-style: none;
        background-color: #e6eeeb;
        margin: auto;
        border-radius: 2px;
        padding-top: 3px;
        padding-bottom: 5px;
    }


#editinfo tr td {
    display: block;
    width: 150px;
    height: 45px;
    margin: 10px;
    
}

.hide{
    display:none;
}

.newsfeedInfo li img {
   
}

.newsfeedInfo {
    
}

