@model Capstone.Data.Models.Staff
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="well creatNewUserForm" >
                <h2 align="center">Create a New Staff Account</h2>
                <br/>
                <p>
                   To create a new student user, fill the form. A temperory password is going to be emailed to them. They will be able to change it later.
                </p>
                <br/>
                <div >
                    <ul>
                        <li>
                            @using (Html.BeginForm("CreateStaffUser", "Staff", FormMethod.Post))
                            {
                                @*@Html.Hidden("currentUsername", Model.Username)*@
                                <label for="newUsername"> Username:</label>
                                <input type="text" name="newUsername" />

                                <label for="firstName">First Name:</label>
                                <input type="text" name="firstName" />

                                <label for="lastName">Last Name: </label>
                                <input type="text" name="lastName" />

                                <label for="title">Title: </label>
                                <input type="text" name="title" />

                                <br />

                                <input class="btn btn-primary" type="submit" value="Submit">

                            }
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>
                            <img src="~/Content/images/female-unknown.png" />
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    

</div>

