@model Capstone.Data.Models.Employer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">

    @using (Html.BeginForm("CreateEmployerUser", "staff", FormMethod.Post))
    {

        <label for="username"> Username:</label>
                    <input type="text" name="username" />

                    <label for="firstName">First Name:</label>
                    <input type="text" name="firstName" />

                    <label for="lastName">Last Name: </label>
                    <input type="text" name="lastName" />

                    <label for="title">Title: </label>
                    <input type="text" name="title" />

                    <br />

                    <button>Create</button>
    }
</div>



