@model Capstone.Data.Models.Employer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-2">

        </div>

        <div class="col-sm-8 well">
            <div class="well creatNewUserForm">
                <h1 align="center">Create a New Employer Account</h1>
                <br />
                <p>
                    To create a new employer account, fill the form. A temporary password is going to be emailed to user. User will be able to change it later.
                </p>
                <br />
                <div>
                    <ul>
                        <li>
                            @using (Html.BeginForm("CreateEmployerUser", "staff", FormMethod.Post))
                            {
                                @*@Html.Hidden("currentUsername", Model.Username)*@
                                <label for="username"> Username:</label>
                                <input type="text" name="username" />

                                <label for="companyName">Company:</label>
                                <input type="text" name="companyName" />
                                <label for="Address">Location: </label>
                                <input type="text" name="location" />
                                <br />

                                <fieldset>
                                    <legend>Contact Person Information:</legend>

                                    <label for="firstName">First Name:</label>
                                    <input type="text" name="firstName" />

                                    <label for="lastName">Last Name: </label>
                                    <input type="text" name="lastName" />
                                </fieldset>

                                <label for="emailAddress">Contact Email Address:</label>
                                <input type="text" name="emailAddress" />

                                <br />

                                <input class="btn btn-primary" type="submit" value="Submit">
                            }
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>
                            <img src="~/Content/images/female-unknown.png" />
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>
