@model Capstone.Data.Models.Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">

           
        </div>
        <div class="col-md-4">
            <div class="well creatNewUserForm">
                @using (Html.BeginForm("CreateStudentUser", "student", FormMethod.Post))
                {
                    <label for="username"> Username: </label>
                    <input type="text" name="username" />

                    <label for="firstName">First Name: </label>
                    <input type="Text" name="firstName" />

                    <label for="lastName">Last Name: </label>
                    <input type="text" name="lastName" />

                    <label for="cohort">Cohort: </label>
                    <input type="Text" name="cohort" />
                    <br>

                    <input class="btn btn-primary" type="submit" value="Submit">
                }
            </div>
        </div>

    </div>
    <div class="col-md-4">

    </div>

</div>


