@model Capstone.Data.Models.Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">


        </div>
        <div class="col-md-8">
            <div class="well creatNewUserForm tile">
                <h1 align="center">Create a New Student Account</h1>
                <br />
                <p>
                    To create a new student user, fill the form. A temporary password is going to be emailed to student. tudent will be able to change it later.
                </p> 
                <ul>
                    <li>
                        @using (Html.BeginForm("CreateStudentUser", "Staff", FormMethod.Post))
                        {

                            <label for="newUsername"> Username: </label>
                            <input type="text" name="newUsername" />

                            <label for="firstName">First Name: </label>
                            <input type="Text" name="firstName" />

                            <label for="lastName">Last Name: </label>
                            <input type="text" name="lastName" />

                            <label for="cohort">Cohort: </label>
                            <input type="Text" name="cohort" />

                            <label for="emailAddress">Email: </label>
                            <input type="Text" name="emailAddress" />
                            <br>

                            <input class="btn btn-primary" type="submit" value="Submit">
                        }
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>
                        <img src="~/Content/images/female-unknown.png" />
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-2">

        </div>
    </div>

</div>


