@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">


        </div>
        <div class="col-md-4">
            <div class="well">
              

                <img src="~/Content/images/failToDo.jpg" class=".img-rounded fialImage" />
                <h2>Sorry!</h2>
                <p>We could not do it for you! Please try later.</p>

                <a href="~/Home/Index" class="goHome">Go Home</a>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    

</div>


