@*@model Capstone.Data.Models.Staff*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@string.Concat("~/Content/Images/",Model.FirstName.ToLower(), ".jpg") class=" img-circle"" />           
            <div class="well savings-account">
               <h2>Hello @Model.FirstName </h2>
                <img src="~/Content/images/josh.jpg" />
                
                <ul>
                    <li><a href='@Url.Action("Staff", "CreateStaffUser")'> Add a new Staff</a></li>
                    <li>Add a new Student</li>
                    <li>Change Password</li>
                </ul>
               
            </div>
        </div>
        <div class="col-md-4">
            
            </div>

        </div>
        <div class="col-md-4">
           
        </div>

    </div>

