@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">


        </div>
        <div class="col-md-4">
            <div class="well">
                <img src="~/Content/images/Sucess.jpg"  class="img-circle fialImage" />

                <h2>Success!</h2>
                <p>Your changes have been updated.</p>
                <a href="~/Home/Index" class="goHome">Go Home</a>
            </div>
        </div>

    </div>
    <div class="col-md-4">

    </div>

</div>
