
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm("SearchStudentsByLanguage", "Student", FormMethod.Post))
{
    @Html.ValidationSummary();

    @Html.Label("username", "Username:")
    @Html.TextBox("username")

    <label for="role"> User Role:</label>
    @Html.DropDownList("role", (IEnumerable<SelectListItem>)ViewBag.roleDropDownList)


    <br />
    <br /> 
    <button type="submit" id="searchbutton">Search</button>
}