
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    @Html.ValidationSummary();

    @Html.Label("username", "Username:")
    @Html.TextBox("username")


    <br />
    <br /> 
    <button type="submit" id="searchbutton">Search</button>
}