@model List<Capstone.Data.Models.Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="resultsDiv" align="center">

    @foreach (var student in Model)
    {
        <ul>
            <li>
                <a href='@url.action("viewstudent", "employer", new { username = student.username },null)'>
                    <img src="@string.concat("/content/images/", student.firstname.tolower(), student.lastname.tolower(), ".jpg")" class="img-circle profileimage" />
                </a></li>
           
            <li class="fontBold">@student.FirstName  @student.LastName<br /></li>
        </ul>
    }


</div>


