@model List<Capstone.Data.Models.Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="resultsDiv" align="center">

    @foreach (var student in Model)
    {
        <ul>
            <li>
                <a href='@Url.Action("ViewStudent", "Employer", new { username = student.Username },null)'>
                    <img src="@string.Concat("/Content/images/", student.FirstName.ToLower(), student.LastName.ToLower(), ".jpg")" class="img-circle profileImage" />
                </a></li>
            
            <li class="fontBold">@student.FirstName  @student.LastName<br /></li>
        </ul>
    }


</div>


