@model List<Capstone.Data.Models.Student>

@*Check to see if the model is not null, then display the list of students with specific skills*@


@if (Model != null)
{
    <div>
        @foreach (var item in Model)
       {
            <div class="newsFeedStudent">
                <br />
                <ul>
                    <li><img src="@String.Concat("/Content/images/", item.FirstName.ToLower(), item.LastName.ToLower(), ".jpg")" class="img-responsive img-cirlce imgNewsfeed" /></li>
                    <li></li>
                    <li class="fontBold newsfeedInfo">@String.Concat(item.FirstName, " ", item.LastName) </li>
                    <li class="newsfeedInfo">@item.Class</li>
                </ul>
            </div>
        }
    </div>
}

