@model HashSet<Capstone.Data.Models.Student>
@{
    Layout = null;
}

@*Check to see if the model is not null, then display the list of students with specific skills*@

<script src="/Content/ShowMoreLess.js"></script>
@if (Model != null)
{
    <div>
        <div id="newsFeedStudent">
            @foreach (var item in Model)
            {
                <ul class="hide">
                    <li>
                        @*<a href='@Url.Action("ViewStudent", "Employer", new { username = item.Username },null)'>*@
                            <img src="@String.Concat("/Content/images/", item.FirstName.ToLower(), item.LastName.ToLower(), ".jpg")" class="img-responsive imgNewsfeed" />                        
                        @*</a>*@
                    </li>
                
                    <li class="fontBold newsfeedInfo">@String.Concat(item.FirstName, " ", item.LastName) </li>
                    <li class="newsfeedInfo">@item.Class</li>
                   
                </ul>
            }
            <div id="loadMore">Load more...</div>
          
        </div>
        
    </div>
}

